{%extends 'parts/base.html'%}
{%load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Department Assignment</title>
    <meta name="description" content="Student's Department Assignment Page" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css files/style.css" />
    <script src="../js files/project.js"></script>
</head>

<body>
    <h2>Student's Department Assignment </h2>
    
 
    <form method="post">
        {% csrf_token %}
        <div style="margin-top: 20px; font-size: 20px; color: white;">
            {{form.as_p}}
        </div><br>
        </p>
        <input class="button" type="submit" value="Submit" class="bo">
    </form>
</body>
</html>
{% endblock content%}


